header {
  width: 100%;
  padding: 20px 40px; /* Ajuste le padding pour l'espacement */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white; /* Couleur de fond, ajustez selon votre design */
}

.logo {
  max-width: 300px; /* Taille du logo, ajustez si nécessaire */
  height: auto;
}

.home-link {
  margin-left: 15px;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
}
.home-link:hover {
  color: #007bff; /* Change de couleur au survol */
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 80%; /* Largeur de la barre de recherche */
  max-width: 400px; /* Taille maximale */
}

.navbar {
  display: flex;
  gap: 20px; /* Espace entre les liens de navigation */
}

.nav-link {
  color: #151217;
  font-weight: bold;
}

.nav-link:hover {
  color: #007bff; /* Change de couleur au survol */
}

.search-container {
  position: relative;
}

.search-input {
  width: 100%;
}

.suggestion-list {
  max-height: 200px; // Limite la hauteur pour éviter que la liste prenne trop de place
  overflow-y: auto; // Permet de défiler si la liste est trop longue
  z-index: 1000; // Assure que la liste de suggestions s'affiche au-dessus des autres éléments
  top: 100%; // Positionne la liste juste en dessous du champ de saisie
  left: 0;
}

.list-group-item {
  cursor: pointer;
  padding: 10px;

  &:hover {
    background-color: #f0f0f0; // Change de couleur au survol
  }
}
