footer {
  background-color: #0074c7; /* La couleur de fond bleu */
  color: white;

  h5 {
    color: #f1f8fc;
    font-weight: bold;
  }

  address {
    color: #f1f8fc;
    font-style: normal;
  }

  a {
    color: #f1f8fc;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-section {
    flex: 1;
    text-align: center;
  }
}
