<div class="artisan-detail-container">
  <div *ngIf="artisan" class="artisan-header">
    <h2>{{ artisan.name }}</h2>
  </div>
  <div class="artisan-info">
    <p><strong>Spécialité :</strong> {{ artisan?.specialty }}</p>
    <p><strong>Localisation :</strong> {{ artisan?.location }}</p>
    <p><strong>A propos :</strong> {{ artisan?.about }}</p>
  </div>
  <div class="stars">
    <ng-container *ngFor="let star of generateStars(artisan?.note || 0)">
      <span class="star" [class.filled]="star <= (artisan?.note || 0)">★</span>
    </ng-container>
  </div>

  <div class="contact-info">
    <p><strong>Email :</strong> {{ artisan?.email }}</p>
    <p>
      <strong>Site web :</strong>
      <a [href]="artisan?.website" target="_blank">{{ artisan?.website }}</a>
    </p>
  </div>

  <!-- Formulaire de contact -->
  <h3>Contactez cet artisan</h3>
  <form (ngSubmit)="sendContactForm()" [formGroup]="contactForm" novalidate>
    <div class="form-group">
      <label for="name">Nom</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        placeholder="Votre nom"
        autocomplete="off"
      />
      <!-- Message d'erreur -->
      <div
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
        class="error"
      >
        <p *ngIf="contactForm.get('name')?.errors?.['required']">
          Le nom est requis.
        </p>
        <p *ngIf="contactForm.get('name')?.errors?.['minlength']">
          Le nom doit contenir au moins 3 caractères.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="subject">Objet</label>
      <input
        type="text"
        id="subject"
        formControlName="subject"
        class="form-control"
        placeholder="Objet du message"
        autocomplete="off"
      />
      <!-- Message d'erreur -->
      <div
        *ngIf="
          contactForm.get('subject')?.invalid &&
          contactForm.get('subject')?.touched
        "
        class="error"
      >
        <p *ngIf="contactForm.get('subject')?.errors?.['required']">
          L'objet est requis.
        </p>
        <p *ngIf="contactForm.get('subject')?.errors?.['minlength']">
          L'objet doit contenir au moins 3 caractères.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        id="message"
        formControlName="message"
        class="form-control"
        rows="5"
        placeholder="Votre message"
        autocomplete="off"
      ></textarea>
      <div
        *ngIf="
          contactForm.get('message')?.invalid &&
          contactForm.get('message')?.touched
        "
        class="error"
      >
        <p *ngIf="contactForm.get('message')?.errors?.['required']">
          Le message est requis.
        </p>
        <p *ngIf="contactForm.get('message')?.errors?.['minlength']">
          Le message doit contenir au moins 10 caractères.
        </p>
      </div>
    </div>

    <!-- CAPTCHA pour bloquer les robots -->
    <div class="form-group">
      <label for="captcha">Captcha</label>
      <p><strong>Code :</strong> {{ captchaText }}</p>
      <input
        type="text"
        id="captcha"
        formControlName="captcha"
        class="form-control"
        placeholder="Entrez le texte de vérification"
        autocomplete="off"
      />
      <!-- Message d'erreur pour le CAPTCHA -->
      <div
        *ngIf="
          contactForm.get('captcha')?.invalid &&
          contactForm.get('captcha')?.touched
        "
        class="error"
      >
        <p *ngIf="contactForm.get('captcha')?.errors?.['invalidCaptcha']">
          Le CAPTCHA est incorrect. Veuillez réessayer.
        </p>
        <p *ngIf="contactForm.get('captcha')?.errors?.['required']">
          Le CAPTCHA est requis.
        </p>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!contactForm.valid"
    >
      Envoyer
    </button>

    <div
      *ngIf="emailStatus"
      class="alert"
      [ngClass]="{
        'alert-success': emailStatus === 'success',
        'alert-danger': emailStatus === 'error'
      }"
    >
      {{ emailMessage }}
    </div>
  </form>
</div>
