.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;

  .nav-link {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: #333;
      font-size: 16px;
      padding: 10px;

      &:hover {
        color: #007bff;
        text-decoration: underline;
      }
    }

    @media (max-width: 990px) {
      display: none; /* Cacher les liens pour les écrans plus petits */
    }
  }

  .hamburger-menu {
    display: none; /* Caché par défaut */
    font-size: 42px;
    margin: 10px;
    cursor: pointer;
    background: none;
    border: none;

    @media (max-width: 990px) {
      display: block; /* Visible uniquement sur les écrans plus petits */
    }
  }

  .mobile-menu {
    display: none; /* Caché par défaut */
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;

    a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: black;
      text-align: center;
      border-radius: 4px;
      margin-bottom: 10px;

      &:hover {
        color: #007bff;
        text-decoration: underline;
      }
    }

    &.open {
      display: flex; /* Affiche le menu mobile quand actif */
    }
  }
  @media (max-width: 990px) {
    flex-direction: column; /* Réorganise les éléments du navbar */
    align-items: center;

    .mobile-menu {
      display: flex; /* Affiche la disposition flex des mots */
      width: auto; /* Ajuste la largeur au contenu */
    }
  }
}
