<nav class="navbar" (mouseleave)="closeMobileMenu()">
  <!-- Navigation classique (grands écrans) -->
  <div class="nav-link" *ngIf="!isMobileMenuOpen">
    <a (click)="navigateToHome()">Accueil</a>
    <a (click)="navigateToCategory('Bâtiment')">Bâtiment</a>
    <a (click)="navigateToCategory('Services')">Services</a>
    <a (click)="navigateToCategory('Fabrication')">Fabrication</a>
    <a (click)="navigateToCategory('Alimentation')">Alimentation</a>
  </div>

  <!-- Bouton menu hamburger (petits écrans) -->
  <button
    class="hamburger-menu"
    *ngIf="isSmallScreen"
    (click)="toggleMobileMenu()"
  >
    ☰
  </button>

  <!-- Menu mobile -->
  <div
    class="mobile-menu"
    *ngIf="isMobileMenuOpen"
    (mouseleave)="closeMobileMenu()"
  >
    <a (click)="navigateToHome(); closeMobileMenu()">Accueil</a>
    <a (click)="navigateToCategory('Bâtiment'); closeMobileMenu()">Bâtiment</a>
    <a (click)="navigateToCategory('Services'); closeMobileMenu()">Services</a>
    <a (click)="navigateToCategory('Fabrication'); closeMobileMenu()"
      >Fabrication</a
    >
    <a (click)="navigateToCategory('Alimentation'); closeMobileMenu()"
      >Alimentation</a
    >
  </div>
</nav>
