.artisan-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.category-title {
  text-align: center;
  margin-bottom: 50px;
  color: #00497c;
}

.artisan-card {
  background-color: #f9f9f9;
  padding: 15px;
  border: 3px solid #0074c7;
  border-radius: 8px;
  width: 200px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.artisan-card:hover {
  transform: scale(1.05);
}

.stars {
  font-size: 1.5rem;
  color: gold;
}

.star {
  margin-right: 2px;
  color: lightgray; /* Couleur des étoiles non remplies */
}

.star.filled {
  color: gold; /* Couleur des étoiles remplies */
}
