.artisan-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.artisan-card {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.artisan-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.stars {
  font-size: 1.5rem;
  color: gold; /* Couleur dorée pour les étoiles pleines */
}

.star {
  margin-right: 2px;
}
