<div class="artisan-container">
  <!-- Affichage de la carte en grand si un artisan est sélectionné -->
  <div *ngIf="selectedArtisan" class="artisan-detail">
    <h2>{{ selectedArtisan.name }}</h2>
    <p><strong>Spécialité :</strong> {{ selectedArtisan.specialty }}</p>
    <p><strong>Localisation :</strong> {{ selectedArtisan.location }}</p>
    <p><strong>Note :</strong> {{ selectedArtisan.note }} ★</p>
    <p><strong>A propos :</strong> {{ selectedArtisan.about }}</p>
    <p><strong>Email :</strong> {{ selectedArtisan.email }}</p>
    <p><strong>website :</strong> {{ selectedArtisan.website }}</p>
    <p><strong>Category :</strong> {{ selectedArtisan.category }}</p>
    <button (click)="resetSelection()">Retour à la liste</button>
  </div>

  <!-- Affichage des artisans sous forme de cases si aucun artisan n'est sélectionné -->
  <div *ngIf="!selectedArtisan" class="artisan-cards">
    <div
      *ngFor="let artisan of artisans"
      class="artisan-card"
      (click)="selectArtisan(artisan)"
    >
      <h3>{{ artisan.name }}</h3>
      <p><strong>Spécialité :</strong> {{ artisan.specialty }}</p>
      <p><strong>Localisation :</strong> {{ artisan.location }}</p>
      <p><strong>Note :</strong> {{ artisan.note }} ★</p>
    </div>
  </div>
</div>
