<footer>
  <div class="footer-top">
    <!-- Section Logo et Texte -->
    <div class="footer-logo">
      <div>
        <div>La Région</div>
        <div>Auvergne-Rhône-Alpes</div>
        <div>Conseil régional</div>
      </div>
    </div>

    <!-- Section Contacts -->
    <div class="footer-contacts">
      <div class="footer-contact">
        <h5>Lyon</h5>
        <address>
          101 cours Charlemagne<br />
          CS 20033<br />
          69269 LYON CEDEX 02<br />
          France
        </address>
        <p>Ouvert du lundi au vendredi de 8h15 à 17h</p>
        <p>📞 +33 (0)4 26 73 40 00</p>
      </div>
    </div>
  </div>

  <!-- Liens en bas -->
  <div class="footer-links">
    <a [routerLink]="['/legal-page']">Mentions légales</a>
    <a [routerLink]="['/donnees-personnelles']">Données personnelles</a>
    <a [routerLink]="['/accessibilite']"
      >Accessibilité : partiellement conforme</a
    >
    <a [routerLink]="['/presse']">Presse</a>
    <a [routerLink]="['/marches-publics']">Marchés publics</a>
    <a [routerLink]="['/venir-a-la-region']">Venir à la Région</a>
    <a [routerLink]="['/contacts']">Contacts</a>
    <a [routerLink]="['/gestion-des-cookies']">Gestion des cookies</a>
  </div>
</footer>
