<div class="artisan-container">
  <h2>Liste des artisans dans l'Alimentation</h2>

  <!-- Affichage des artisans sous forme de cases si aucun artisan n'est pas sélectionné -->
  <div *ngIf="!selectedArtisan" class="artisan-cards">
    <div
      *ngFor="let artisan of artisans"
      class="artisan-card"
      (click)="selectArtisan(artisan)"
    >
      <h3>{{ artisan.name }}</h3>
      <p><strong>Spécialité :</strong> {{ artisan.specialty }}</p>
      <p><strong>Localisation :</strong> {{ artisan.location }}</p>
      <div class="rating">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
          <i
            class="fa"
            [ngClass]="{
              'fa-star': artisan.note >= i + 1,
              'fa-star-half-o': artisan.note >= i + 0.5 && artisan.note < i + 1,
              'fa-star-o': artisan.note < i + 0.5
            }"
          ></i>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Affichage de la carte en grand si un artisan est sélectionné -->
  <div *ngIf="selectedArtisan" class="artisan-detail">
    <h2>{{ selectedArtisan.name }}</h2>
    <p><strong>Spécialité :</strong> {{ selectedArtisan.specialty }}</p>
    <p><strong>Localisation :</strong> {{ selectedArtisan.location }}</p>
    <p>
      <strong>Note :</strong>
      <app-artisan-rating
        [note]="selectedArtisan.note"
        class="stars"
      ></app-artisan-rating>
    </p>
    <p><strong>A propos :</strong> {{ selectedArtisan.about }}</p>
    <p><strong>Email :</strong> {{ selectedArtisan.email }}</p>
    <p><strong>website :</strong> {{ selectedArtisan.website }}</p>
    <p><strong>Category :</strong> {{ selectedArtisan.category }}</p>
    <button (click)="resetSelection()">Retour à la liste</button>
  </div>
</div>
