/* You can add global styles to this file, and also import other style files */
/* Assurer que la page prend toute la hauteur de la fenêtre */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1; /* Permet au contenu principal de prendre tout l'espace restant */
  padding: 20px;
}

app-footer {
  margin-top: auto; /* Place le footer en bas */
}
